animal table

<span ui-sref="customer-form" class="label label-success">Customer Form</span>
<span ui-sref="animal-form" class="label label-danger">Animal Form</span>
<span ui-sref="animal-table" class="label label-warning">Animal Table</span>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Gender</th>
            <th>Age</th>
            <th>In Heat</th>
            <th>Best Alone</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody ng-repeat="customer in localCustomers">
            <tr ng-repeat="animals in customer.animals">
            <td>{{animals.name}}</td>
            <td>{{animals.breed}}</td>
            <td>{{animals.gender}}</td>
            <td>{{animals.age}}</td>
            <td>{{animals.inHeat}}</td>
            <td>{{animals.bestAlone}}</td>
            <td>{{animals.comments}}</td>


        </tr>

    </tbody>

</table>
