animal table

<span ui-sref="customer-form" class="label label-success">Customer Form</span>
<span ui-sref="animal-form" class="label label-danger">Animal Form</span>
<span ui-sref="animal-table" class="label label-warning">Animal Table</span>


<div class="container-fluid">

<div>
    <input type="text" name="search" placeholder="Search.." class="searchBar" ng-model="searchBar" />
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Gender</th>
            <th>Age</th>
            <th>In Heat</th>
            <th>Best Alone</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody ng-repeat="customer in localCustomers ">
    <tr ng-repeat="animals in customer.animals | animalSearch:searchBar : false" data-toggle="collapse" data-target="#{{customer._id}}">
        <td>{{animals.name}}</td>
        <td>{{animals.breed}}</td>
        <td>{{animals.gender}}</td>
        <td>{{animals.age}}</td>
        <td>{{animals.inHeat}}</td>
        <td>{{animals.bestAlone}}</td>
        <td>{{animals.comments}}</td>


    </tr>
    <tr id="{{customer._id}}" class="collapse customerCollapse">
        <td><span class="collapseStyle">Name</span><hr>{{customer.name}}</td>
        <td><span class="collapseStyle">Address</span><hr>{{customer.address}}</td>
        <td><span class="collapseStyle">Telephone</span><hr>{{customer.telephone}}</td>
        <td><span class="collapseStyle">Email</span><hr>{{customer.email}}</td>
    </tr>
    </tbody>

</table>

</div>
