<div class="container-fluid">

    <div class="col-md-2 searchBar">
        <input type="text" name="search" placeholder="Search.." class="form-control" ng-model="searchBar" />
    </div>

<table class="table table-hover">

    <thead>
    <tr>
        <th>Navn</th>
        <th>Adresse</th>
        <th>Telefon</th>
        <th>Email</th>
        <th class="text-center">Info</th>
    </tr>
    </thead>
    <tbody ng-repeat="customer in localCustomers | customerSearch:searchBar : false">
    <tr data-toggle="collapse" data-target="#{{customer._id}}" class="infoColumn" >
        <td class="col-md-1 tableContent"><div>{{customer.name}}</div></td>
        <td class="col-md-2 tableContent"><div>{{customer.address}}</div></td>
        <td class="col-md-1 tableContent"><div>{{customer.telephone}}</div></td>
        <td class="col-md-1 tableContent"><div>{{customer.email}}</div></td>
        <td class="col-md-1 text-center infoColor"><div><button type="button" ng-click="getDetails(customer)" class="btn btn-link"><i class="glyphicon glyphicon-info-sign"></i></button></div></td>
    </tr>
    <tr id="{{customer._id}}" class="collapse customerCollapse">
        <td colspan="5">
            <span class="collapseStyle tableContent">Dyr</span><hr><div ng-repeat="animals in customer.animals" class="collapseContent">{{animals.name}}</div>
            <table>
                <tr>
                    <td>Bøllemissen</td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>

</table>

</div>