.p-buttom {
  color: #9d9d9d;
  font-size: 0.8em;
}

img {
  margin-top: 15px;
  max-width: 50px; /* you can use % */
  max-height: 50px;
}

.dropdown {
  margin-top: 20px;
  float: right;
}

h1 {
  text-align: center;
}

@media(max-width: 480px) {

  .collapse {
    display: inline;
  }

  .dropdown {
    margin-top: 5px;
    float: left;
  }

  .searchBar {
    float: left;
  }

}



.customerCollapse {
  background-color: #EAEEF3  ;
}

.collapseStyle {
  overflow: hidden;
  font-weight: 600;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0px;
  margin-right: 0px;
  border-style: inset;
  border-width: 1px;
  color: #72c1e6;
}

.searchBar {
  float: right;
  padding-right: 0;
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tableContent div, .collapseContent {
  height: 30px;
  max-height: 30px;
  overflow: auto;
}

.infoColor, .btn-link {
  color: white;
}

.infoColumn:hover {
  .btn-link {
    color: forestgreen;
  }
}

.glyphicon-info-sign {
  font-size: 1.4em;
}

.imgDoog {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.imgDoog:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}
