.p-buttom {
  color: #9d9d9d;
  font-size: 0.8em;
}

img {
  margin-top: 15px;
  max-width: 50px; /* you can use % */
  max-height: 50px;
}

.dropdown {
  margin-top: 20px;
  float: right;
}

h1 {
  text-align: center;
}

@media(max-width: 480px) {
  h1 {
    font-size: 14pt;
  }
  img {
    margin-top: 15px;
    max-width: 30px; /* you can use % */
    max-height: 30px;
  }

  .collapse {
    display: inline;
  }

  .dropdown {
    margin-top: 5px;
    float: left;
  }



}

.customerCollapse {
  background-color: #EAEEF3  ;
}

.collapseStyle {
  overflow: hidden;
  font-weight: 600;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0px;
  margin-right: 0px;
  border-style: inset;
  border-width: 1px;
  color: #72c1e6;
}


.tableContent div, .collapseContent {
  height: 30px;
  max-height: 30px;
  overflow: auto;
}

